/* 웹 폰트 */
@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    --sidebar-width: 36rem;
    --title-height: 8rem;
    --form-margin: 2rem;
    --form-line-height: 3rem;
    --form-label-width: 4rem;
    --form-label-margin: 0.5rem;
    --form-font-size: 1.5rem;
    --button-margin: 0.5rem;
    --button-height: 4rem;
    --border-radius: 0.5rem;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    margin: 0;
    display: flex;

    height: 100vh;
}

/* 검색을 위한 사이드바 */
#sidebar {
    position: relative;

    width: var(--sidebar-width);
    height: 100%;
}

/* 지도 */
#map {
    width: calc(100% - var(--sidebar-width));
    height: 100%;
}

/* hillshade 타이틀 */
#sidebar #title {
    background-color: #69BDEA;
    color: white;

    text-indent: 2rem;
    line-height: var(--title-height);

    margin: 0;
}

/* 검색 form */
#sidebar form {
    padding-top: var(--form-margin);
    height: calc(100% - var(--title-height) - var(--form-margin));
    position: relative;
}

/* 검색 form의 각 input을 감싸는 wrapper div */
#sidebar form .form-group {
    margin-bottom: var(--form-margin);
    padding-left: var(--form-margin)
}

/* wrapper div의 각 태그 */
#sidebar form .form-group * {
    display: inline-block;
    line-height: var(--form-line-height);
}

/* wrapper div의 각 span -> label 역할을 수행 */
#sidebar form .form-group span.label {
    width: var(--form-label-width);
    margin-right: var(--form-label-margin);
}

/* wrapper div에서 체크박스 이외의 input 태그 */
#sidebar form .form-group input:not([type=checkbox]) {
    margin: 0;
    border: 0;
    padding: 0;
    width: calc(100% - var(--form-label-width) - var(--form-label-margin) - var(--form-margin));

    border-radius: var(--border-radius);
    font-size: var(--form-font-size);
}

/* 검색 form의 제출 버튼 */
#sidebar form button {
    position: absolute;
    bottom: 0;

    width: calc(100% - var(--button-margin) - var(--button-margin));
    margin: var(--button-margin);
    line-height: var(--button-height);
    font-size: var(--form-font-size);

    background-color: #69BDEA;
    color: white;

    border-radius: var(--border-radius);
    border: none;
    outline: none;
}

/* 버튼에 마우스를 올린 경우 */
#sidebar form button:hover {
    background-color: darkgray;
    cursor: pointer;
}

/* 모달 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100vw;
    height: 100vh;
}

.modal.modal-hidden {
    display: none;
}

.modal > * {
    position: absolute;
}

.modal .modal-dimmed {
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1.5px);
}

.modal .modal-content {
    top: 40%;
    left: 50%;
    
    translate: -50% -50%;
}

.modal .modal-content .title {
    font-family: 'Happiness-Sans-Title';
    font-size: 3.2rem;
    color: white;
}
/* 로딩 효과 */
@keyframes anime_textup { 
    0% { top: 0; } 
    20% { top: -0.2rem; } 
    40% { top: 0 } 
    60% { top: 0 } 
    80% { top: 0 } 
    100% { top: 0 } 
}

.modal .modal-content .title span {
    position: relative;
    animation: anime_textup 1.5s infinite;
}

.modal .modal-content .title span:nth-of-type(1) { animation-delay: .1s; }
.modal .modal-content .title span:nth-of-type(2) { animation-delay: .2s; }
.modal .modal-content .title span:nth-of-type(3) { animation-delay: .3s; }
.modal .modal-content .title span:nth-of-type(4) { animation-delay: .4s; }
.modal .modal-content .title span:nth-of-type(5) { animation-delay: .5s; }
.modal .modal-content .title span:nth-of-type(6) { animation-delay: .6s; }
.modal .modal-content .title span:nth-of-type(7) { animation-delay: .7s; }
.modal .modal-content .title span:nth-of-type(8) { animation-delay: .8s; }
.modal .modal-content .title span:nth-of-type(9) { animation-delay: .9s; }
