<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- css -->
    <link rel="stylesheet" href="wfs.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/css/ol.css">
    <!-- javascript -->
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>
    <script src="wms.js" defer></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>

    <title>GEOorWeb</title>
</head>

<body>
    <div id="sidebar">
        <h2 id="title">HillShade</h2>

        <!-- hillShade 알고리즘에 사용할 데이터를 보낼 form -->
        <form id="form">
            <!-- hillShade 알고리즘을 실행할 주소 -->
            <div class="form-group">
                <span class="label">주소</span>
                <input id="address" class="inputData" type="text" placeholder="주소 입력">
            </div>
            <!-- hillShade 알고리즘을 실행할 날짜 -->
            <div class="form-group">
                <span class="label">날짜</span>
                <input id="date" class="inputData" type="date">
            </div>
            <!-- hillShade 알고리즘을 실행할 시간 -->
            <div class="form-group">
                <span class="label">시간</span>
                <input id="time" class="inputData" type="time" value="00:00:00">
            </div>
            <!-- hillShade 실행 시 마커를 생성할 지형지물 -->
            <div class="form-group">
                <span class="label">옵션</span>

                <input id="tunnel" type="checkbox">
                <label for="tunnel">터널 🌈</label>

                <input id="bridge" type="checkbox">
                <label for="bridge">교량 🚙</label>

                <input id="frozen" type="checkbox">
                <label for="frozen">결빙 ️❄️</label>
            </div>

            <button type="submit" id="button">분석시작</button>
        </form>
    </div>

    <!-- vworld map -->
    <div id="map"></div>
</body>
</html>
