<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- css -->
    <link rel="stylesheet" href="wfs.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/css/ol.css">
    <!-- javascript -->
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>

    <title>GEOorWeb</title>
</head>

<body>
<!-- vworld map -->
<div id="map"></div>

<div id="title">
    <h2>HillShade</h2>
</div>

<div id="data">
    주소 <input id="address" class="inputData" type="text" placeholder="주소 입력"> <br>
    날짜 <input id="date" class="inputData" type="date" value="2022-05-01" min="2022-04-27" max="2022-05-30"> <br>
    시간 <input id="time" class="inputData" type="time" value="00:00:00" step="3600"> <br>
    옵션 <br>
</div>

<div id="option">
    <input id="weatherCheck" type="checkbox">
    <label for="weatherCheck"> 터널 🌈 </label>

    <input id="bridgeCheck" type="checkbox">
    <label for="bridgeCheck"> 교량 🚙 </label>

    <input id="frostCheck" type="checkbox">
    <label for="frostCheck"> 결빙 ️❄️ </label>
</div>

<div id="startButton">
    <button id="analysisButton" onclick="analysisStart()"> 분석시작 </button>
</div>

<div class="layerPopup">
    <div class="spinner"></div>
</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">

    // vworld 배경지도 띄우기
    let map = new ol.Map({
        target: 'map',
        layers: [
            new ol.layer.Tile({
                source: new ol.source.XYZ({
                    url: 'http://xdworld.vworld.kr:8080/2d/Base/202002/{z}/{x}/{y}.png'
                })
            }),
            //vector
        ],
        view: new ol.View({
            center: convertCoordinates(127.6176, 36.8724),
            zoom: 7,
            minZoom: 7,
            maxZoom: 19
        })
    });

    // wms layer 생성
    let wmsLayer = new ol.layer.Tile({
        visible: true,
        source: new ol.source.TileWMS({
            url: 'http://localhost:8088/geoserver/GeoOr/wms',
            params: {
                'FORMAT': 'image/png',
                'TILED' : true,
                'LAYERS': 'GeoOr:road'
            }
        })
    })

    function showMarker() {
        hideMarker(); //기존에 있던 마커 제거

        let z = document.createElement('img'); // is a node
        z.src = "img/marker.png";
        z.style = "width: 20px;" +
            "  height: auto;" +
            "  background: url(\"img/marker.png\") no-repeat;" +
            "  background-size: contain;" +
            "  padding: 0;"

        //api 호출 부분

        //가져온 좌표 반복문 돌려서 모두 overlay처리

        map.addOverlay(new ol.Overlay({
            position: ol.proj.transform(
                [127.6176, 36.8724],
                'EPSG:4326',
                'EPSG:3857'
            ),
            element: z
        }));
    }

    //마커 삭제부분 : img 태그 모두 제거해서 없애기
    function hideMarker() {
        $('img').remove();
    }

    function lookAtMe(lat, long) {

        map.getView().setCenter(ol.proj.transform([lat, long], 'EPSG:4326', 'EPSG:3857'));
        map.getView().setZoom(16);
    }

    //EPSG:4326 -> EPSG:3857
    function convertCoordinates(lon, lat) {
        let x = (lon * 20037508.34) / 180;
        let y = Math.log(Math.tan(((90 + lat) * Math.PI) / 360)) / (Math.PI / 180);
        y = (y * 20037508.34) / 180;
        return [x, y];
    }

    //주소를 xy좌표로 변환하기
    function addressToCoordinates(address) {
        let request = new XMLHttpRequest();

        request.open("GET","http://api.vworld.kr/req/address?service=address&request=getcoord&version=2.0"
            + "&crs=epsg:3857" // EPSG:3857
            + "&address=" + encodeURI(address) + "&refine=true&simple=false&format=xml&type=road"
            + "&key=4480D1CC-812E-33AC-8A4D-05E08AC71B7A");
        request.send();
        request.onreadystatechange = function() {
            if (request.readyState === 4) {
                if (request.status >= 200 && request.status < 300) {
                    let xml = request.responseXML;
                    let xCoordinate = xml.getElementsByTagName('x')[0].childNodes[0].nodeValue;
                    let yCoordinate = xml.getElementsByTagName('y')[0].childNodes[0].nodeValue;

                    console.log(xCoordinate, yCoordinate);
                    return Number(xCoordinate), Number(yCoordinate);
                } else {
                    alert(request.status);
                }
            }
        }
    }

    //입력받는 날짜범위 수정하기
    function inputDataRange(){
        let today = new Date();

        //오늘 날짜
        let year = today.getFullYear();
        let month = today.getMonth() + 1;
        month = month < 10 ? '0' + month : month;
        let date = today.getDate();
        date = date < 10 ? '0' + date : date;

        document.getElementById('date').value = String(year + '-' + month + '-' + date);
        document.getElementById('date').min = String(year + '-' + month + '-' + date);

        //일주일 뒤
        let weekDay = today.getTime() + (7*24*60*60*1000);
        today.setTime(weekDay);

        let weekYear = today.getFullYear();
        let weekMonth = today.getMonth() + 1;
        weekMonth = weekMonth < 10 ? '0' + weekMonth : weekMonth;
        let weekDate = today.getDate();
        weekDate = weekDate < 10 ? '0' + weekDate : weekDate;

        document.getElementById('date').max = String(weekYear + '-' + weekMonth + '-' + weekDate);
    }
    inputDataRange();

    function inputAddress(){
        let addressInput = document.getElementById('address').value;
        console.log("입력한 주소: ", addressInput);
        return addressInput;
    }

    function inputDate(){
        let dateInput = document.getElementById('date').value;
        console.log("입력한 날짜: ", dateInput);
        return dateInput;
    }

    function inputTime(){
        let timeInput = document.getElementById('time').value;
        timeInput = String(timeInput).substring(0, 2);
        console.log("입력한 시간: ", timeInput);
        return timeInput;
    }

    function inputWeather(){
        let weatherOption = document.getElementById('weatherCheck').checked;
        console.log("날씨 옵션: ", weatherOption);
        return weatherOption;
    }

    function inputBridge(){
        let bridgeOption = document.getElementById('bridgeCheck').checked;
        console.log("교량 옵션: ", bridgeOption);
        return bridgeOption;
    }

    function inputFrost(){
        let frostOption = document.getElementById('frostCheck').checked;
        console.log("결빙 옵션: ", frostOption);
        return frostOption;
    }

    //분석시작 버튼 눌렀을 때, 실행시키기
    function analysisStart(){

        //map.addLayer(wmsLayer);
        //window.alert(addressInput);
        ////
        addressToCoordinates(inputAddress());
        inputDate();
        inputTime();

        inputWeather();
        inputBridge();
        inputFrost();
    }


</script>

</body>
</html>